@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using GoogleAnalytics.Blazor.Website.Server.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p style="color: red; font-weight: bold">Google Analytics tracking is suppressed for this page.</p>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject] private IGBAnalyticsManager AnalyticsManager { get; set; }

    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        AnalyticsManager.SuppressPageHitTracking();

        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
